* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}
.Container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Head{
  height: 13vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn1{
  height: 7vh;
  width: 100%;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
 
}

.add{
  height: 5vh;
  width: 5vw;
  background-color: green;
  border: none;
  color: white;
  position: relative;
  right: 100%;
  
  
}
table {
  height: 65vh;
  width: 90%;
  border: 0.2rem solid black;
}
thead {
  height: 2VH;
  width: 100%;
}

th {
  height: 6vh;
  width: auto;
  border: 0.15rem solid silver;
  background-color: orange;
}
tbody {
  height: 40vh;
  width: 100%;
}
td {
  text-align: center;
  background-color: whitesmoke;
  border: 0.11rem solid silver;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
.update {
  background-color: green;
  border: none;
  height: 4vh;
  width: 120%;
  color: white; 
}
.delete {
  background-color: red;
  border: none;
  height: 4vh;
  width: 40%;
  color: white;
}
footer{
  height: 10vh;
  width: 100%;
  /* background-color: orangered; */
}
